.container{
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
@media (min-width: 640px) {
  .container{
    width: 43%;
  }
}
@media (min-width: 1024px) {
  .container{
    width: 29%;
  }
}