.container {
  max-width: 64rem;
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
}
.search{
  width: 100%;
  max-width: 300px;
  padding: 12px;
}